
<%- include("partials/header") %>

<!-- START MAIN CONTAINER -->
<div class="container-xl">

  <h1>
      Set Up Tonight's Games
  </h1>

<div class="container">
<div class="row">
  <div class="col-md-4">

    <p><span class="text-muted">All amounts are in dollars.</span></p>

      <form action="/night" method="POST">
          <div class="form-group">
            <label for="amtAnte">Ante</label>
            <input type="number" class="form-control" id="amtAnte" name="amtAnte" value="0.10" min="0.05" step="0.05" required>
          </div>
          <div class="form-group">
            <label for="amtMaxOpen">Maximum Open</label>
            <input type="number" class="form-control" id="amtMaxOpen" name="amtMaxOpen" value="0.25" min="0.05" step="0.05" required>
          </div>
          <div class="form-group">
            <label for="amtMaxRaise">Maximum Raise</label>
            <input type="number" class="form-control" id="amtMaxRaise" name="amtMaxRaise" value="0.25" min="0.05" step="0.05" required>
          </div>
          <div class="form-group">
            <label for="amtBetIncrements">Minimum Bet Increment</label>
            <input type="number" class="form-control" id="amtBetIncrements" name="amtBetIncrements" value="0.05" min="0.05" step="0.05" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="/game/hostPrompt" class="btn btn-secondary">Cancel</a>
        </form>        


  </div>
</div>
</div>



</div>
<!-- END OF MAIN CONTAINER -->

<%- include("partials/footer") %>