
<%- include("partials/header") %>

<!-- START MAIN CONTAINER -->
<div class="container-xl">

    <h1>
        Waiting Room
    </h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">

<p>Tonight's action has not begun yet. Feel free to try again in a few minutes, or contact tonight's host offline.</p>


<a href="/game" class="btn btn-primary">Try again</a>

    </div>
  </div>
</div>



</div>
<!-- END OF MAIN CONTAINER -->


<%- include("partials/footer") %>