
<%- include("partials/header") %>

<!-- START MAIN CONTAINER -->
<div class="container-xl">

    <h1>
        Waiting Room
    </h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">

This is the waiting room. We will format it later.

    </div>
  </div>
</div>



</div>
<!-- END OF MAIN CONTAINER -->


<%- include("partials/footer") %>