#bettingDisplayList li{
    padding-top: 2px;
    padding-bottom: 2px;
}

.playerArea{
    border: 1px solid black;
}

.rowOfCards {
    display: inline;
}

.rowOfCards div {
    background-color: white;
}

.rowOfCards div:not(:nth-child(1)){
    margin-left: -86px;
}


.pile {
    display: inline;
}

.pile div {
    background-color: white;
}

.pile div:not(:nth-child(1)){
    margin-left: -110px;
}

#dealPile {
    margin-left: 30%;
}

.cardSingle{
    width: 111px;
    height: 162px;
    border: solid black 1px;
    padding: 3px;
    display: inline-block;
}

.cardSingle img{
    width: 100%;
    height: auto;
}

#playersRow2 {
    display: none;
}

#statusUpdates {
    background-color: #ffff87;
}