#bettingDisplayList li, #winnersDisplayList li{
    padding-top: 2px;
    padding-bottom: 2px;
}

#bettingColumn {
    display: none;
}

.fas {
    margin-right: 5px;
    color: red;
}

#raisesRemainingText {
    display: none;
    margin-left: 20px;
    margin-top: 5px;
}

#fullGameSettingsRow {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
  }

  #mainGameSettingsColumn {
    /* for the animation */
    transition: width 0.3s ease;
  }

#passCardsOptions{
    display: none;
}

.passCardsExpander, #passCardsOptions, #noPeek {
    background-color: #e9ecef;
}

.remodelExpander, #remodelOptions {
    background-color: #87d7ff;
}

#remodelOptions{
    display: none;
}

#playSequenceEditor {
    /* for the animation */
    transition: display 0.3s ease;
  }
  
  .collapsed {
    /* hide it for small displays*/
    display: none;
  }

#playSequenceEditor ul{
    list-style: none;
    margin: 0;
    padding-inline-start: 0px;
}

#playSequenceEditor li{
    background: white;
    height: 40px;
    line-height: 40px;
    padding: 2px;
    color: #666;
}

#playSequenceEditor li:nth-child(2n){
    background: #f7f7f7;
}

#playSequenceEditor .leftIcon{
    background: #d9534f;
    height: 36px;
    width: 36px;
    margin-right: 20px;
    color: white;
    text-align: center;
    display: inline-block;
}


#playSequenceEditor .downIcon, .upIcon{
    background: #0275d8;
    height: 36px;
    width: 36px;
    margin-left: 1px;
    margin-right: 1px;
    float: right;
    color: white;
    text-align: center;
}

#playSequenceEditor li:nth-child(1) .upIcon{
    visibility: hidden;
}

#playSequenceEditor li:last-child .downIcon{
    visibility: hidden;
}

.playerArea{
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
}

.playerNameRow,.playerWinningsRow{
    border: 0 none;
    background: none;
}

.inGameStatus{
    padding: 5px;
}

.rowOfCards {
    display: inline;
    padding-top: 0;
}

.rowOfCards div {
    background-color: white;
    background-size: contain;
    background-repeat: round;
    width: 111px;
    height: 158px;
    border: solid black 1px;
    padding: 3px;
    display: inline-block;
}

.rowOfCards div:not(:nth-child(1)){
    margin-left: -83px;
}

.selectedPlayerCard {
    margin-top: -20px;
}

/* .cardSingle{

} */

.faceDown {
    background-image: url(../images/cards/back.png);
}

.cardOverlay {
    line-height: 1.0; 
    text-align: center;
    background-color: white; 
    font-family: 'Lato', sans-serif; 
    font-weight: bold; 
    font-size:1rem;
    padding-left:1px; 
    padding-right: 5px;
}

.black {
    color: #000;
}

.red {
    color: #df0000;
}


/* .pile div {
    background-color: white;
} */

#dealPile {
    margin-left: 20px;
}

#dealPile div:not(:nth-child(1)){
    margin-left: -105px;
}

#dealingButtonsRow button {
    display: none;
}

#dealerAlert {
    display: none;
}

.playerAlert {
    display: none;
}

#indicatorCardsRow{
    display: none; 
    /* make it block when it's time to display it */
}

#indicatorCardsRow div{
    margin-left: 0px;
}

/* #playersRow2 {
    display: none;
} */

#statusUpdates {
    background-color: #ffff87;
    margin-bottom: 0;
    height: 25px;
}

#contentBottomSpacer {
    height: 30px;
}